.input {
  border: 1px solid var(--panel-border-color);
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  outline: none;
  background-color: var(--inner-panel-color);
  color: var(--primary-text-color);
}

.input:focus {
  border-color: var(--primary-color);
}
