.reviewCard {
  background-color: var(--background-color);
}

.reviewText {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary-text-color);
}

.reviewUser,
.reviewRating {
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.ratingTextLow {
  color: var(--error-color); /* intense red for ratings 1-3 */
}

.ratingTextHigh {
  color: var(--success-color); /* intense green for ratings 4-5 */
}
