.button {
  --button-font-size: 16px;
  --button-padding: 16px;
  --button-line-height: 2;
  --button-primary-bg: var(--primary-color);
  --button-primary-hover-bg: var(--primary-hover-color);
  --button-primary-disabled-bg: var(--inactive-color);
  --button-primary-disabled-color: var(--primary-disabled-color);
  --button-secondary-bg: var(--secondary-color);
  --button-secondary-hover-bg: var(--secondary-hover-color);
  --button-secondary-disabled-bg: var(--secondary-disabled-bg);
  --button-secondary-disabled-color: var(--secondary-disabled-color);
  --button-text-color: var(--text-color);
  --button-secondary-text-color: var(--primary-color);
  --button-secondary-hover-text-color: var(--primary-hover-color);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--button-font-size);
  padding: 0 var(--button-padding);
  line-height: var(--button-line-height);
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}

.rounded {
  border-radius: 50%;
  padding: 0;
  width: calc(var(--button-line-height) * var(--button-font-size, 16px));
  height: calc(var(--button-line-height) * var(--button-font-size, 16px));
}

.sm {
  --button-font-size: 12px;
  --button-padding: 8px;
}

.nm {
  --button-font-size: 16px;
  --button-padding: 12px;
}

.lg {
  --button-font-size: 20px;
  --button-padding: 16px;
}

.primary {
  background-color: var(--button-primary-bg);
  border: none;
  color: var(--secondary-color);
}

.primary:hover {
  background-color: var(--button-primary-hover-bg);
  color: var(--secondary-color);
}

.primary:disabled {
  background-color: var(--button-primary-disabled-bg);
  color: var(--button-primary-disabled-color);
  cursor: not-allowed;
}

.secondary {
  background-color: var(--button-secondary-bg);
  border: 1px solid var(--primary-color);
  color: var(--button-secondary-text-color);
}

.secondary:hover {
  background-color: var(--button-secondary-hover-bg);
  color: var(--button-secondary-hover-text-color);
}

.secondary:disabled {
  background-color: var(--button-secondary-disabled-bg);
  color: var(--button-secondary-disabled-color);
  cursor: not-allowed;
}
