.header {
  background-color: var(--header-footer-bg-color);
  color: var(--header-text-color);
  padding: 20px;
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}
