.header {
  background-color: var(--header-footer-bg-color);
  color: var(--header-text-color);
  padding: 20px;
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.toggleButton {
  background-color: var(--primary-text-color);
  color: var(--background-color);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:hover {
  opacity: 0.8;
}
