.header {
  background-color: var(--header-footer-bg-color);
  color: var(--header-text-color);
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.logo {
  font-weight: bold;
}

.logo,
.navLink {
  background-color: var(--header-footer-bg-color);
  color: var(--header-text-color);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

h1 {
  margin: 0;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
