.footer {
  background-color: var(--header-footer-bg-color);
  color: var(--header-text-color);
  padding: 20px;
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 5px 0;
}
