.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.content {
  flex: 1;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
