.tab {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  color: var(--primary-text-color);
}

.tab:hover {
  border-bottom: 2px solid var(--inactive-color);
}

.active {
  border-bottom: 2px solid var(--primary-text-color);
  font-weight: bold;
  color: var(--primary-text-color);
}
